In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/auto.csv', index_col = 'ID', sep = ',')
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [3]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

### cleaned

In [4]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep = 'last')
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

### Work with missing

In [5]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [6]:
df = df.dropna(axis=1, thresh= len(df)-500)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [7]:
df['Refund'] = df['Refund'].ffill()
mean = df['Fines'].mean()
df['Fines'] = df['Fines'].fillna(mean)
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [8]:
df[['Make','Model']] = df['Make_n_model'].apply(lambda x: pd.Series(str(x).split(' ',1)))
df = df.drop('Make_n_model', axis=1)
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

In [9]:
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [10]:
df.to_json('../../datasets/auto.json', orient = 'records')

In [11]:
df2 = pd.read_json('../../datasets/auto.json', orient = 'records')

In [12]:
df2.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [13]:
df2['Fines'].mean()

np.float64(8594.586466165412)

In [14]:
df2['Refund'].mean()

np.float64(1.5172413793103448)