## Read_csv

In [1]:
import pandas as pd
df = pd.read_csv('../../datasets/feed-views.log', skiprows = [2,3], skipfooter = 2, engine = 'python', names = ['datetime', 'user'], sep = '\t', index_col = 'datetime')
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [2]:
df = df.rename_axis('date_time')
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [3]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## to_csv

In [4]:
df.to_csv('feed-views-semicolon.log', sep = ';')

In [5]:
df2 = pd.read_csv('feed-views-semicolon.log', sep=';')
df2.head()

                    date_time    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana

In [6]:
df.count()

user    1072
dtype: int64